absl-py==2.2.2
accessible-pygments==0.0.5
agno==1.2.16
aioboto3==14.2.0
aiobotocore==2.22.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aioice==0.10.1
aioitertools==0.12.0
aiortc==1.11.0
aiosignal==1.3.2
aiosqlite==0.21.0
-e git+https://github.com/NVIDIA/AIQToolkit.git@698b9c113d773c3037f3946c753a8eb1f4642e32#egg=aiq_agno_personal_finance&subdirectory=examples/agno_personal_finance
-e git+https://github.com/NVIDIA/AIQToolkit.git@698b9c113d773c3037f3946c753a8eb1f4642e32#egg=aiq_alert_triage_agent&subdirectory=examples/alert_triage_agent
-e git+https://github.com/NVIDIA/AIQToolkit.git@698b9c113d773c3037f3946c753a8eb1f4642e32#egg=aiq_automated_description_generation&subdirectory=examples/automated_description_generation
-e git+https://github.com/NVIDIA/AIQToolkit.git@698b9c113d773c3037f3946c753a8eb1f4642e32#egg=aiq_email_phishing_analyzer&subdirectory=examples/email_phishing_analyzer
-e git+https://github.com/NVIDIA/AIQToolkit.git@698b9c113d773c3037f3946c753a8eb1f4642e32#egg=aiq_multi_frameworks&subdirectory=examples/multi_frameworks
-e git+https://github.com/NVIDIA/AIQToolkit.git@698b9c113d773c3037f3946c753a8eb1f4642e32#egg=aiq_plot_charts&subdirectory=examples/plot_charts
-e git+https://github.com/NVIDIA/AIQToolkit.git@698b9c113d773c3037f3946c753a8eb1f4642e32#egg=aiq_profiler_agent&subdirectory=examples/profiler_agent
-e git+https://github.com/NVIDIA/AIQToolkit.git@698b9c113d773c3037f3946c753a8eb1f4642e32#egg=aiq_semantic_kernel_demo&subdirectory=examples/semantic_kernel_demo
-e git+https://github.com/NVIDIA/AIQToolkit.git@698b9c113d773c3037f3946c753a8eb1f4642e32#egg=aiq_simple&subdirectory=examples/simple
-e git+https://github.com/NVIDIA/AIQToolkit.git@698b9c113d773c3037f3946c753a8eb1f4642e32#egg=aiq_simple_calculator&subdirectory=examples/simple_calculator
-e git+https://github.com/NVIDIA/AIQToolkit.git@698b9c113d773c3037f3946c753a8eb1f4642e32#egg=aiq_swe_bench&subdirectory=examples/swe_bench
-e git+https://github.com/NVIDIA/AIQToolkit.git@698b9c113d773c3037f3946c753a8eb1f4642e32#egg=aiqtoolkit
-e git+https://github.com/NVIDIA/AIQToolkit.git@698b9c113d773c3037f3946c753a8eb1f4642e32#egg=aiqtoolkit_agno&subdirectory=packages/aiqtoolkit_agno
-e git+https://github.com/NVIDIA/AIQToolkit.git@698b9c113d773c3037f3946c753a8eb1f4642e32#egg=aiqtoolkit_crewai&subdirectory=packages/aiqtoolkit_crewai
-e git+https://github.com/NVIDIA/AIQToolkit.git@698b9c113d773c3037f3946c753a8eb1f4642e32#egg=aiqtoolkit_langchain&subdirectory=packages/aiqtoolkit_langchain
-e git+https://github.com/NVIDIA/AIQToolkit.git@698b9c113d773c3037f3946c753a8eb1f4642e32#egg=aiqtoolkit_llama_index&subdirectory=packages/aiqtoolkit_llama_index
-e git+https://github.com/NVIDIA/AIQToolkit.git@698b9c113d773c3037f3946c753a8eb1f4642e32#egg=aiqtoolkit_mem0ai&subdirectory=packages/aiqtoolkit_mem0ai
-e git+https://github.com/NVIDIA/AIQToolkit.git@698b9c113d773c3037f3946c753a8eb1f4642e32#egg=aiqtoolkit_semantic_kernel&subdirectory=packages/aiqtoolkit_semantic_kernel
-e git+https://github.com/NVIDIA/AIQToolkit.git@698b9c113d773c3037f3946c753a8eb1f4642e32#egg=aiqtoolkit_test&subdirectory=packages/aiqtoolkit_test
-e git+https://github.com/NVIDIA/AIQToolkit.git@698b9c113d773c3037f3946c753a8eb1f4642e32#egg=aiqtoolkit_weave&subdirectory=packages/aiqtoolkit_weave
-e git+https://github.com/NVIDIA/AIQToolkit.git@698b9c113d773c3037f3946c753a8eb1f4642e32#egg=aiqtoolkit_zep_cloud&subdirectory=packages/aiqtoolkit_zep_cloud
alabaster==1.0.0
alembic==1.15.2
annotated-types==0.7.0
ansible-runner==2.4.1
anyio==4.9.0
appdirs==1.4.4
arize-phoenix==6.1.0
arize-phoenix-evals==0.20.6
arize-phoenix-otel==0.9.2
arxiv==2.1.3
asgi-lifespan==2.1.0
asgiref==3.8.1
astroid==3.3.9
asttokens==3.0.0
astunparse==1.6.3
attrs==25.3.0
auth0-python==4.9.0
Authlib==1.5.2
av==14.3.0
azure-core==1.34.0
azure-identity==1.21.0
babel==2.17.0
backoff==2.2.1
bcrypt==4.3.0
beautifulsoup4==4.13.4
bleach==6.2.0
blinker==1.9.0
boto3==1.37.3
botocore==1.37.3
bs4==0.0.2
build==1.2.2.post1
cachetools==5.5.2
certifi==2025.4.26
cffi==1.17.1
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.4.2
chroma-hnswlib==0.7.6
chromadb==0.6.3
click==8.1.8
cloudevents==1.11.0
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.3.2
coverage==7.8.0
crewai==0.95.0
cryptography==44.0.3
cycler==0.12.1
dataclasses-json==0.6.7
datasets==3.5.1
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
deprecation==2.1.0
dill==0.3.8
dirtyjson==1.0.8
diskcache==5.6.3
distlib==0.3.9
distro==1.9.0
dnspython==2.7.0
docker==7.1.0
docker-pycreds==0.4.0
docopt==0.6.2
docstring_parser==0.16
docutils==0.21.2
durationpy==0.9
emoji==2.14.1
et_xmlfile==2.0.0
executing==2.2.0
expandvars==1.0.0
extratools==0.8.2.1
faiss-cpu==1.9.0
fastapi==0.115.12
fastcore==1.8.1
fastjsonschema==2.21.1
feedparser==6.0.11
filelock==3.18.0
filetype==1.2.0
flake8==7.2.0
Flake8-pyproject==1.2.3
Flask==3.1.0
flatbuffers==25.2.10
fonttools==4.57.0
frozenlist==1.6.0
fsspec==2025.3.0
gast==0.6.0
ghapi==1.0.6
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.40.0
google-crc32c==1.7.1
google-pasta==0.2.0
google_search_results==2.4.2
googleapis-common-protos==1.70.0
gql==3.5.2
graphql-core==3.2.4
greenlet==3.2.1
grpc-interceptor==0.15.4
grpcio==1.67.1
grpclib==0.4.7
h11==0.16.0
h2==4.2.0
h5py==3.13.0
haystack-ai==2.13.1
haystack-experimental==0.9.0
hpack==4.1.0
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.30.2
humanfriendly==10.0
hyperframe==6.1.0
id==1.5.0
identify==2.6.10
idna==3.10
ifaddr==0.2.0
imagesize==1.4.1
importlib_metadata==8.6.1
importlib_resources==6.5.2
iniconfig==2.1.0
instructor==1.7.9
ipython==8.36.0
isodate==0.7.2
isort==5.12.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.2
jeepney==0.9.0
Jinja2==3.1.6
jiter==0.8.2
jmespath==1.0.1
joblib==1.5.0
json_repair==0.44.1
jsonpatch==1.33
jsonpath-ng==1.7.0
jsonpickle==4.0.5
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-path==0.3.4
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
keras==3.9.2
keyring==25.6.0
kiwisolver==1.4.8
kubernetes==32.0.1
langchain==0.3.25
langchain-community==0.3.23
langchain-core==0.3.58
langchain-milvus==0.1.10
langchain-nvidia-ai-endpoints==0.3.10
langchain-openai==0.2.14
langchain-text-splitters==0.3.8
langgraph==0.2.76
langgraph-checkpoint==2.0.25
langgraph-sdk==0.1.66
langsmith==0.3.42
lazy-object-proxy==1.11.0
lazy_imports==0.4.0
libclang==18.1.1
litellm==1.63.14
llama-cloud==0.1.20
llama-cloud-services==0.6.15
llama-index==0.12.15
llama-index-agent-openai==0.4.5
llama-index-cli==0.4.1
llama-index-core==0.12.15
llama-index-embeddings-nvidia==0.3.1
llama-index-embeddings-openai==0.3.1
llama-index-indices-managed-llama-cloud==0.6.11
llama-index-llms-nvidia==0.3.1
llama-index-llms-openai==0.3.18
llama-index-llms-openai-like==0.3.4
llama-index-multi-modal-llms-openai==0.4.3
llama-index-program-openai==0.3.1
llama-index-question-gen-openai==0.3.0
llama-index-readers-file==0.4.4
llama-index-readers-llama-parse==0.4.0
llama-parse==0.6.12
lockfile==0.12.2
lxml==5.4.0
Mako==1.3.10
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.9.4
matplotlib-inline==0.1.7
mccabe==0.7.0
mcp==1.7.1
mdit-py-plugins==0.4.2
mdurl==0.1.2
mem0ai==0.1.97
milvus-lite==2.4.12
mistune==3.1.3
ml_dtypes==0.5.1
mmh3==5.1.0
modal==0.74.48
monotonic==1.6
more-itertools==10.7.0
mpmath==1.3.0
msal==1.32.3
msal-extensions==1.3.1
multidict==6.4.3
multiprocess==0.70.16
mypy_extensions==1.1.0
myst-parser==4.0.1
namex==0.0.9
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nbsphinx==0.9.6
nest-asyncio==1.6.0
networkx==3.4.2
nh3==0.2.21
nltk==3.9.1
nodeenv==1.9.1
numpy==1.26.4
nvidia-haystack==0.1.2
nvidia-sphinx-theme==0.0.8
oauthlib==3.2.2
onnxruntime==1.21.1
openai==1.77.0
openapi-core==0.19.4
openapi-schema-validator==0.6.3
openapi-spec-validator==0.7.1
opencv-python==4.11.0.86
openinference-instrumentation==0.1.28
openinference-instrumentation-langchain==0.1.29
openinference-semantic-conventions==0.1.17
openpyxl==3.1.5
opentelemetry-api==1.32.1
opentelemetry-exporter-otlp==1.32.1
opentelemetry-exporter-otlp-proto-common==1.32.1
opentelemetry-exporter-otlp-proto-grpc==1.32.1
opentelemetry-exporter-otlp-proto-http==1.32.1
opentelemetry-instrumentation==0.53b1
opentelemetry-instrumentation-asgi==0.53b1
opentelemetry-instrumentation-fastapi==0.53b1
opentelemetry-proto==1.32.1
opentelemetry-sdk==1.32.1
opentelemetry-semantic-conventions==0.53b1
opentelemetry-util-http==0.53b1
opt_einsum==3.4.0
optree==0.15.0
orjson==3.10.18
ormsgpack==1.9.1
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
parse==1.20.2
parso==0.8.4
pathable==0.4.4
pdfminer.six==20250327
pdfplumber==0.11.6
pexpect==4.9.0
pillow==11.2.1
pkginfo==1.12.1.2
platformdirs==4.3.7
pluggy==1.5.0
ply==3.11
portalocker==2.10.1
posthog==3.25.0
prance==23.6.21.0
pre_commit==4.2.0
prefixspan==0.5.2
prompt_toolkit==3.0.51
propcache==0.3.1
protobuf==5.29.4
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybars4==0.9.13
pycodestyle==2.13.0
pycparser==2.22
pydantic==2.10.6
pydantic-settings==2.9.1
pydantic_core==2.27.2
pydata-sphinx-theme==0.16.1
pyee==13.0.0
pyflakes==3.3.2
Pygments==2.19.1
PyJWT==2.10.1
pylibsrtp==0.12.0
pylint==3.3.7
PyMeta3==0.5.1
pymilvus==2.5.8
pyOpenSSL==25.0.0
pyparsing==3.2.3
pypdf==5.4.0
pypdfium2==4.30.1
PyPika==0.48.9
pyproject_hooks==1.2.0
pytest==8.3.5
pytest-asyncio==0.24.0
pytest-cov==6.1.1
pytest_httpserver==1.1.3
python-daemon==3.1.2
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.1.0
python-multipart==0.0.20
pytz==2024.2
pyvis==0.3.2
PyYAML==6.0.2
pyzmq==26.4.0
qdrant-client==1.14.2
ragas==0.2.15
readme_renderer==44.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986==2.0.0
rich==13.9.4
roman-numerals-py==3.1.0
rpds-py==0.24.0
rsa==4.9.1
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
s3transfer==0.11.3
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
SecretStorage==3.3.3
semantic-kernel==1.24.1
sentry-sdk==2.27.0
setproctitle==1.3.6
setuptools==80.3.1
setuptools-scm==8.3.1
sgmllib3k==1.0.0
shellingham==1.5.4
sigtools==4.0.1
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.7
Sphinx==8.2.3
sphinx-autoapi==3.6.0
sphinx-copybutton==0.5.2
sphinx-mermaid==0.0.8
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.40
sqlean.py==3.49.1
sse-starlette==2.3.4
stack-data==0.6.3
starlette==0.46.2
strawberry-graphql==0.243.1
striprtf==0.0.26
swebench==3.0.3
sympy==1.14.0
synchronicity==0.9.11
tenacity==9.1.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
termcolor==3.1.0
threadpoolctl==3.6.0
tiktoken==0.9.0
tinycss2==1.4.0
tokenizers==0.21.1
toml==0.10.2
tomli==2.2.1
tomli_w==1.2.0
tomlkit==0.13.2
toolz==1.0.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.51.3
twine==6.1.0
typer==0.15.3
types-certifi==2021.10.8.3
types-toml==0.10.8.20240310
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
ujson==5.10.0
unidiff==0.7.5
urllib3==2.4.0
uuid_utils==0.10.0
uv==0.7.2
uvicorn==0.32.1
uvloop==0.21.0
vale==3.9.5.0
virtualenv==20.31.1
wandb==0.19.10
watchfiles==1.0.5
wcwidth==0.2.13
weave==0.51.44
webencodings==0.5.1
websocket-client==1.8.0
websockets==14.2
Werkzeug==3.1.3
wheel==0.45.1
wikipedia==1.4.0
wrapt==1.17.2
xxhash==3.5.0
yapf==0.43.0
yarl==1.20.0
zep-cloud==2.2.0
zipp==3.21.0
zstandard==0.23.0
